md-toolbar.md-whiteframe-3dp.nav(layout-align="center center")
  .md-toolbar-tools.container
    md-button.md-icon-button(ng-link="['Dashboard']")
      img(src="https://firebasestorage.googleapis.com/v0/b/project-867618968114337534.appspot.com/o/assets%2Fwebcat-logo.png?alt=media&token=823b4f43-d989-464a-a51c-bf5f44070d2d")
    h2.capitalize|{{$ctrl.doc.metadata.title}}
    div(flex)
md-toolbar.placeholder