.footerWrapper(layout="column" layout-align="center center")
  .userText
    .md-subhead.centerText(
    ng-bind="$ctrl.metadata.footer")
  .footerText
    .md-subhead.centerText
      |Hecho con Webcat