doctype html
html(lang='en' data-ng-app='webcat')
  head
    title Webcat
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,700italic' rel='stylesheet' type='text/css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css")
    link(rel="favicon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/project-867618968114337534.appspot.com/o/assets%2Fwebcat-logo_dark.png?alt=media&token=6091a497-70b0-4ffe-b813-be007837405f")
    link(rel="SHORTCUT ICON" href="https://firebasestorage.googleapis.com/v0/b/project-867618968114337534.appspot.com/o/assets%2Fwebcat-logo_dark.png?alt=media&token=6091a497-70b0-4ffe-b813-be007837405f")
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
    base(href="/")
  body
    
    root-el

    |<!-- bower:js -->
    |<!-- endbower -->
    script( src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js")
    script(src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
    |<!-- inject:js -->
    |<!-- endinject -->
