[contenteditable], [contenteditable]:focus {
  outline: none;
  user-select: text;
  margin: 0;
}
.medium-editor-placeholder:after {
  position: relative;
  color: #212121;
  opacity: .5;
  font-style: normal;
}
body {
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
}
html::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: #666;
}
md-content {
  width: 100%;
  background-color: #F5F5F5;
}