doctype html
html(lang='en' data-ng-app='webcat')
  head
    title webcat
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
    base(href="/")
  body

    root-el

    |<!-- bower:js -->
    |<!-- endbower -->
    script( src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js")
    script(src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
    script(src="https://npmcdn.com/medium-editor-markdown@2.4.1/dist/me-markdown.standalone.min.js")
    |<!-- inject:js -->
    |<!-- endinject -->
