[contenteditable], [contenteditable]:focus {
  outline: 0px solid transparent;
  z-index: 1;
  p {
    margin: 0;
  }
}
.medium-editor-placeholder:after {
  position: relative;
  color: #212121;
  opacity: .5;
  font-style: normal;
}
body {
  overflow: hidden;
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
}
md-content {
  width: 100%;
  background-color: #F5F5F5;
}