wc-editor {
  display: block;
}
.centerText {
  text-align: center;
}
edit-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255, 0.25);
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
}
md-icon.menu-right {
  margin: auto 3px auto 0 !important;
}
.hidden-input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
}