.dashboardWrapper(layout="column" layout-align="start center" md-theme="dashboard")  
  dashboard-nav.fullWidth
  md-content(flex layout="column" layout-align="start center")
    dashboard-profile.container
    dashboard-documents.fullWidth(is-disabled="$ctrl.isDisabled")
    dashboard-footer.fullWidth